:root {
    --main-background: #FFF;
    --font: #000;
    --secondary-colour: #FFF;
    --link-colour: #007BFF;

    --s1-background: #FFF;
    --s2-background: #c1c1c1;
    --border-colour: #000;

    --theme-dot-border: #000;

    --maximum-width: 1200px;

    --previewBG: rgb(251, 249, 243, 0.8);
    --preview-shadow: #FF6E79;

    --btn-colour: black;
	--btn-hover: #696969;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--main-background);
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--font);
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

p, li, span, label, input, textarea {
    color: var(--font);
    font-family: 'Big Shoulders Display', cursive;
}

a {
    text-decoration: none;
    color: var(--link-colour);
}

a:hover {
    text-decoration: underline;
}

.s1 {
    background-color: var(--s1-background);
    border-bottom: 1px solid var(--border-colour);
    overflow: auto;
}

.s2 {
    background-color: var(--s2-background);
    border-bottom: 1px solid var(--border-colour);
    overflow: auto;
}

.main-container {
    width: 75%;
    margin: 0 auto;
}

.greeting-wrapper {
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: var(--secondary-colour);
    border-bottom: 1px solid var(--border-colour);

    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 5px 6px 15px 3px rgba(0,0,0,0.55); 
    box-shadow: 5px 6px 15px 3px rgba(0,0,0,0.55); 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav nav'
        'left right'
    ;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    border-bottom: 1px solid var(--border-colour);
    background-color: var(--s2-background);
    border-radius: 5px 5px 0 0;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

#dot1{
    background-color: red;
}

#dot2{
    background-color: yellow;
}

#dot3{
    background-color: green;
}

#navigation {
    margin: 0px;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.left-column {
    grid-area: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

#profile-pic {
    display: block;
    margin: 5px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25%;
    border: 2px solid var(--border-colour);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid var(--theme-dot-border);
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #FFF;
}

#dark-mode {
    background-color: var(--font);
}

#settings-note {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right;
    display: grid;
	align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--preview-shadow);
    width: 300px;
    height: 220px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17A2B8;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px;
}

#corner-tr{
	top:-5px;
	right: -5px;
}

#corner-br{
	bottom:-5px;
	right: -5px;
}

#corner-bl{
	bottom:-5px;
	left: -5px
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'about-me about-me'
        'skills social'
    ;
}

.about-me {
    grid-area: about-me;
}

.skills{
    grid-area: skills;
}

.social-links {
    grid-area: social;
}

.social-links > ul {
    font-size: 20px;
}

#card-container {
	margin-bottom: 10px;
	display: grid;
	justify-items: center;
	grid-template-column: 1fr 1fr 1fr;
	grid-template-areas:
		'card1 card2 card3'
	;
}

#ProjectsHeader {
	grid-area: ProjectsHeader;
	width: 75%;
    margin: 0 auto;
}

#card1 {
	grid-area: card1;
}


#card2 {
	grid-area: card2;
}

#card3 {
	grid-area: card3;
}

.card {
	color: #FFF;
	background-image: url("./media/card_background.png");
	background-size: cover;
	padding: 10rem 0 0;
	max-width: 35ch;
	border-radius: 0.5rem;
	overflow: hidden;
}

.card-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		rgba(0,0,0,0), 
		rgba(0,0,0,0.3) 20%, 
		rgba(0,0,0,1)
	);
}

.card-body  {
	color: rgb(255 255 255 / 0.9);
}

.card-title {
	color: #FFF;
	width: max-content;
	max-width: 100%;
	position: relative;
}

.card-title::after {
	content: "";
	position: absolute;
	height: 3px;
	left: calc(var(--padding) * -1);
	bottom: 0;
	width: calc(100% + var(--padding));
	background: #F00;
}

.card-button {
	cursor: pointer;
	display: inline;
	text-decoration: none;
	color: #FFF;
	background-color: #F00;
	padding: 0.5em 1.25em;
	border-radius: 0.25rem;
}

.card-button:hover,
.card-button:focus {
	background-color: #000;
}


#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--border-colour);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--s2-background);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondary-colour);
	border-radius: 5px;
	border:1px solid var(--border-colour);
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--btn-colour);
	border:none;
    border-radius: 5px;
}

#submit-btn:hover{
    cursor: pointer;
    background-color: var(--btn-hover);
    color: #000;
}

@media screen and (max-width: 75%){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 1200px){
	.intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav'
            'left'
            'right'
        ;
    }

    .right-column{
        justify-content: center;
    }

    .about-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'about-me'
            'skills'
            'social'
        ;
    }
}